<%-include('./layout/main.ejs') %>


  <main> 
    <form action="/login" method="post" style="text-align: center;" >
        <label for="email">Enter Email:-</label> <br>
        <input type="email" name="email"> <br> <br>
        <label for="password">Enter Password:-</label> <br>
        <input type="password" name="password"> <br> <br>
        <button type="submit"> Login </button>
    </form>
  </main>