<%-include('./layout/main.ejs') %>


  <main> 
    <form action="/login" method="post" style="text-align: center;" >
      <%if(errorMessaage) {%>
        <div>
          <h1 style="color: red; border: 2px solid red; background-color: rgb(255, 140, 120);"> <%=errorMessaage%> </h1>
        </div>
      <% } %>
        <label for="email">Enter Email:-</label> <br>
        <input type="email" name="email"> <br> <br>
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <button type="submit"> Reset Password </button>
    </form>
  </main>