<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            color: aliceblue;
            text-decoration: none;       
        }
        li{
            margin-top: 20px;
        }
        header{
            height: 50px;
        }
    </style>
</head>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <header style="background-color: green;">
        <ul style="display: flex; justify-content: space-around;">
            <li><a href="/">Add-Products</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/cart">Cart Page</a></li>
            <li><a href="/order">Order Page</a></li>
        </ul>
    </header> <br> <br>
</body>
</html>