<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            color: aliceblue;
            text-decoration: none;       
        }
        li{
            margin-top: 20px;
        }
        header{
            height: 50px;
        }
    </style>
</head>
<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <header>
        <div style="display: flex;justify-content: space-between; background-color: darkgreen;color: aliceblue;">
            <h1 style="margin-left: 40px;">EXCORP:- YOUR OWN DICTIONARY</h1>
            <div style="display: flex;">
            <% if (!isAuthenticated) {%>
            <a href="/login" style="margin-top: 30px; margin-right: 60px; font-size: larger;">Login</a>
            <%} else {%>
            <form action="/logout" method="post">
                <button type="submit" style="margin-top: 25px; margin-right: 60px; font-size: larger;">logout</button>
            </form>
            <%}%>
        </div>
        </div>
        <ul style="display: flex;background-color: darkslategrey; justify-content: space-around; height: 50px;">
            <% if (isAuthenticated) {%>
            <li><a href="/">Add-Products</a></li>
            <%}%>
            <li><a href="/products">Products</a></li>
            <% if (isAuthenticated) {%>
            <li><a href="/cart">Cart Page</a></li>
            <li><a href="/order">Order Page</a></li>
            <%}%>
            <!-- <li><a href="/login">Login</a></li> -->
        </ul>
    </header> <br> <br> <br>  <br> <br> <br>
</body>
</html>